/* Right now there is no need to make any changes to this file, so pelase refrain from changing any code here. Thanks for using this portfolio website*/

.navbar {
    text-decoration: none;
    margin: 50px;
    text-align: center;
}


.nav-link {
    color: #eeeeee;
}

.nav-link:hover {
    color: #ffbd39;
}

.front-name {
    font: 50px Copperplate, Fantasy;

}

.front-name-hr {
    width: 20%;
    border-color: #000000;
    border-style: none;
    border-top-style: dotted;
    border-width: 5px;

}

.front-name-img {
    border-radius: 100%;
    margin: 20px;
    width: 20%;
    height: 20%;
}

.front-nameh2 {
    font: 30px Lucida Console, Monospace;
}

.front-hr {
    color: #212529;
}

.front-work {
    margin: 30px;
}

.projects {
    margin: 50px;
    font: 40px Copperplate, Fantasy;
    color: #eeeeee;
    background-color: #212529;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 25vw);

}

.project-img {
    width: 70%;
    height: 70%;
    object-fit: cover;
}

.about {
    margin: 50px;
    border: 5px solid #212529;
    padding-top: 30px;
    padding-top: 30px;
}

.about-name {
    font: 40px Copperplate, Fantasy;
}

.about-p {
    text-indent: 30px;
    font: 25px Lucida Console, Monospace;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
}

.about-hr {
    color: #ffbd39;
    size: 50px;
}

.contact {
    margin: 50px;
    background-color: #212529;
    padding: 5px;
    padding-bottom: 20px;
}

.contact-name {
    margin: 30px;
    font: 40px Copperplate, Fantasy;
    color: #eeeeee;
}

.contat-form {
    color: #eeeeee;
}

.contact-labels {
    color: #eeeeee;
    font: 25px Lucida Console, Monospace;
    padding: 10px;
    margin: 10px;
}

.contact-input {
    color: black;
    padding: 5px;
}

input[type=submit] {
    background-color: transparent;
    text-decoration: none;
    border: 2px solid #FFFFFF;
    padding: 10px 30px;
    color: #FFFFFF;
}

input[type=submit]:hover {
    color: #ffbd39;
    border: 2px solid #ffbd39;

}

.footer {
    background-color: #212529;
    padding: 5px;
}

.footer-p1 {
    font: 20px Lucida Console, Monospace;
    color: #eeeeee;
}
.footer-p2 {
    font-size: 15px;
    color: #eeeeee;
}

.footer-a:hover {
    color: #ffbd39;
}
